body, html, main {
  /* important */
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

.center {
  margin-right: 50%;
  margin-left: auto;
  float: none;
}

.navbar-header {
  float: none;
}

.navbar-header a {
  text-transform: uppercase;  
}

.navbar-header .text-left a i {
  padding-right:10px;
}

.navbar-header .text-right a i {
  padding-left:10px;
}

.navbar {
  min-height: 40px;
}

.navbar a span {
  font-size: 1.5em;
}

.navbar.dark-overlay:hover {
  opacity: .8;
}

.navbar .fa-2x {
  margin-top: .25em;
}

.btn {
  border: 2px solid #333;
  border-radius: 1px;
  opacity: 1;
}

.cd-fixed-bg {
  position: relative;
  min-height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}

.cd-fixed-bg.cd-bg-house {
  background-image: url("../images/house01.jpg");
}

.cd-fixed-bg.cd-bg-barn {
  background-image: url("../images/barn01.jpg");
}

.cd-fixed-bg.cd-bg-pasture {
  background-image: url("../images/pasture01.jpg");
}

.cd-fixed-bg.cd-bg-kitchen {
  background-image: url("../images/kitchen01.jpg");
}
 
.cd-fixed-bg.cd-bg-master {
  background-image: url("../images/master01.jpg");
}

.cd-fixed-bg.cd-bg-living-room {
  background-image: url("../images/living-room01.jpg");
}

.cd-fixed-bg.cd-bg-flowers {
  background-image: url("../images/flowers01.jpg");
}

.cd-fixed-bg.cd-bg-wildlife {
  background-image: url("../images/deer01.jpg");
}

.cd-fixed-bg.cd-bg-creek {
  background-image: url("../images/creek01.jpg");
}

.cd-fixed-bg.cd-bg-animals {
  background-image: url("../images/livestock01.jpg");
}

.cd-fixed-bg.cd-bg-log-room {
  background-image: url("../images/log-room01.jpg");
}

.cd-fixed-bg.cd-bg-fall {
  background-image: url("../images/pasture02.jpg");
}

.cd-fixed-bg.cd-bg-trails {
  background-image: url("../images/trails01.jpg");
}

.cd-fixed-bg.cd-bg-snow {
  background-image: url("../images/snow01.jpg");
}

.cd-fixed-bg.cd-bg-tree {
  background-image: url("../images/tree01.jpg");
}

.cd-fixed-bg.cd-bg-holiday {
  background-image: url("../images/snow02.jpg");
}


.cd-scrolling-bg {
    min-height: 100%;
}

.cd-scrolling-bg.cd-color-1 {
  background-color: #3d3536;
  color: #a6989a;
}
.cd-scrolling-bg.cd-color-2 {
  background-color: #99a478;
  color: #3d3536;
}
.cd-scrolling-bg.cd-color-3 {
  background-color: #b4d7a8;
  color: #3d3536;
}

.cd-intro {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  padding: 2em;
  min-height: 10%;
  color: #fff;
}

.cd-content {
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 2em;
  min-height: 10%;
  color: #333;
  font-size: 1.5em;
}

.cd-content .main {
  margin-top: 40px;
}

.cd-content li {
  text-align: left;
}

.cd-content p {
  text-align: left;
  font-style: italic;
}

.nav-menu {
  position: fixed;
  top: 40px;
  text-align: center;
  width: 380px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-height: 25%;
  max-height: 100%;
  overflow-y: auto;
  z-index:999;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #333;
  text-shadow: 2px 2px rgba(0,0,0,0.1);
  color: #fff;
  opacity: .8;
  text-transform: uppercase; 
}

.nav-menu.dark-overlay:hover {
  opacity: .8;
}

.nav-menu h3 {
    color: #afdefa;
    font-size: 1.9em;
    padding: 20px;
    margin: 0;
    font-weight: 300;
}

.nav-menu h4 {
    color: #afdefa;
    font-size: 1.25em;
    padding: 10px;
    margin: 0;
    font-weight: 400;
}
 
.nav-menu a {
    display: block;
    color: #fff;
    font-size: 1.5em;
    font-weight: 300;
}
 
.nav-menu a:hover {
    background: #258ecd;
    text-decoration: none;
}
 
.nav-menu a:active {
    background: #afdefa;
    color: #47a3da;
}

.nav-menu-left {
    left: -380px;
}
 
.nav-menu-right {
    right: -380px;
}

.nav-menu-right-icons {
    right: -48px;
    width: 48px;
    min-height: 15%;
}

.nav-menu-right-icons i {
  font-size: 1.5em;
}

 
.nav-menu-left.nav-menu-open {
    left: 0px;
}
 
.nav-menu-right.nav-menu-open {
    right: 0px;
}

.nav-menu-right-icons.nav-menu-open {
  right: 0px;
}

.dark-overlay {
  opacity: .6;
  transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
  background: #333;
  text-shadow: 2px 2px rgba(0,0,0,0.1);
  color: #fff;
}

.dark-overlay a {
  color: #fff;
  margin: 0 3px;
}

.dark-overlay a:hover {
  text-decoration: none;
}

.dark-overlay.cd-intro:hover {
  opacity: 0;
}

.display-small {
  display: none;
}

.info-menu {
  font-weight: bold;
  letter-spacing: 2px;
}

nav.hide-small {
  display: inline;
}

.cd-intro h1 {
  font: 400 100px/0.8 'Great Vibes', Helvetica, sans-serif;
  color: #fff;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
}

.cd-intro p {
  font: 3em "Courier New", Courier, monospace;
  margin: .5em 0;
}

@media (max-device-width: 800px) and (orientation: portrait) {  
  a.display-small {
    display: inline;
  }

  nav.hide-small {
    display: none;
  }
}

@media (max-device-width: 1280px) and (orientation: landscape) { 

}

@media(max-width: 768px ){
  .cd-intro h1 {
    font: 400 35px/0.8 'Great Vibes', Helvetica, sans-serif;
    color: #fff;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
  }

  .cd-intro p {
    font-size: 1.25em;
    margin: .25em 0;
  }

  .contact span {
    display: none;
  }

  a.display-small {
    display: inline;
  }

  nav.hide-small {
    display: none;
  }

}

@media screen and (max-width : 640px){
  .cd-info h1 {
    font: 400 25px/0.8 'Great Vibes', Helvetica, sans-serif;
    color: #fff;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
  }

  .cd-info p {
    font-size: 1em;
    margin: .125em 0;
  }
}