!!! XML
!!! strict
%html{xmlns: "http://www.w3.org/1999/xhtml"}
  %head
    %meta{charset:"utf-8"}
    %meta{http-equiv: "X-UA-Compatible", content:"IE=edge"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %title The Farm
    %link{rel: "shortcut icon", href:"favicon.ico"}
    %link{rel: "stylesheet", href: "css/bootstrap.min.css"}
    %link{rel: "stylesheet", href: "css/font-awesome.min.css"}
    %link{rel: "stylesheet", href: "css/main.css"}
    %link{rel: "stylesheet", href: "http://fonts.googleapis.com/css?family=Great+Vibes", type:"text/css"}
    %link{rel: "stylesheet", href: "http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700", type:"text/css"}
  %body
    %nav.navbar.navbar-fixed-top.dark-overlay{role: "navigation"}
      .navbar-header
        .col-xs-4.text-left
          %a.info{href:"#", title:"Info"}
            %i.fa.fa-2x.fa-info
          %a.contact{href:"#", title:"Contact the agent"}
            %i.fa.fa-2x.fa-envelope-o
            %span Contact the agent
        .col-xs-4.text-center
          %a.prev-image{href:"#", title:"Previous image"}
            %i.fa.fa-2x.fa-arrow-circle-o-up &nbsp;
          %a.next-image{href:"#", title:"Next image"}
            %i.fa.fa-2x.fa-arrow-circle-o-down
        .col-xs-4.text-right
          %nav.hide-small.share-menu-normal
            %a.fb.popup{href:"#", title:"Share"}
              %i.fa.fa-2x.fa-facebook
            %a.tweet.popup{href:"#", title:"Tweet"}
              %i.fa.fa-2x.fa-twitter
            %a.pin.popup{href:"#", title:"Pin"}
              %i.fa.fa-2x.fa-pinterest
          %a.share.display-small{href:"#", title:"Share"}
            %i.fa.fa-2x.fa-share-alt
          %a.navigate{href:"#", title:"Menu"}
            %i.fa.fa-2x.fa-bars

    %nav.nav-menu-right.nav-menu.pics-menu
      %h3 self directed tour

    %nav.nav-menu-right-icons.nav-menu.share-menu-small

    %nav.nav-menu-left.nav-menu.info-menu
      %h4 4476 Plank Rd. Highland, WI
      %a{href:"https://www.google.com/maps?espv=2&q=4476+plank+rd+highland,+wi"}
        %i.fa.fa-map-marker
        &nbsp;Map
      .col-xs-12.text-left
        %li 4 beds
        %li 3.5 baths
        %li 3,627 sqft
        %li Lot: 33.97 acres
        %li Single Family
        %li Built in 1873
        %li Cooling: Central
        %li Heating: Forced air, Radiant
        %li Price/sqft: $159
        %li MLS #: 1729130
    
    #house.cd-fixed-bg.cd-bg-house
      .cd-intro.dark-overlay
        %h1 Welcome To The Farm...
        %p A place where the charm of yesteryear meets the comfort of today.

    #barn.cd-fixed-bg.cd-bg-barn
      .cd-intro.dark-overlay
        %h1 Built in 1873
        %p Set deep in the Union Valley of Southwest Wisconsin lies the dream you've always imagined.

    #pasture.cd-fixed-bg.cd-bg-pasture
      .cd-intro.dark-overlay
        %h1 The Driftless Area
        %p Rolling hills, meandering creeks and dramatic rock formations left untouched by the glaciers of the last ice age.

    #kitchen.cd-fixed-bg.cd-bg-kitchen
      .cd-intro.dark-overlay
        %h1 Craftsmanship
        %p Farmhouse kitchen complete with hand crafted furniture and apron sink

    #master.cd-fixed-bg.cd-bg-master
      .cd-intro.dark-overlay
        %h1 Comfort
        %p Large master with walk-in closet and en-suite bathroom with jetted tub

    #living-room.cd-fixed-bg.cd-bg-living-room
      .cd-intro.dark-overlay
        %h1 History
        %p Wide pine floors, built-in cabinets and deep window sills, echo times past.

    #family-room.cd-fixed-bg.cd-bg-log-room
      .cd-intro.dark-overlay
        %h1 Breathtaking Views
        %p ...from every window and every door.

    #organic-gardens.cd-fixed-bg.cd-bg-flowers
      .cd-intro.dark-overlay
        %h1 Organic
        %p Perenial flower beds, vegetable gardens and pastures, all kept natural and organic.

    #wildlife.cd-fixed-bg.cd-bg-wildlife
      .cd-intro.dark-overlay
        %h1 Wildlife
        %p Pheasant, turkey, deer and birds of all kind at your front door.

    #creek.cd-fixed-bg.cd-bg-creek
      .cd-intro.dark-overlay
        %h1 Spring Fed Creek
        %p A creek meanders through the valley, providing sanctuary for waterfowl and a cool drink for wildlife.

    #farm-animals.cd-fixed-bg.cd-bg-animals
      .cd-intro.dark-overlay
        %h1 Farm Animals
        %p A 15 acre fenced pasture with creek provides perfect habitat for livestock.

    #any-season.cd-fixed-bg.cd-bg-fall
      .cd-intro.dark-overlay
        %h1 Wooded Hillsides
        %p Beautiful in every season.

    #trails.cd-fixed-bg.cd-bg-trails
      .cd-intro.dark-overlay
        %h1 Trails
        %p Perfect for hiking and exploring nature.

    #winter.cd-fixed-bg.cd-bg-snow
      .cd-intro.dark-overlay
        %h1 Winter Wonderland
        %p Put on cross country skis or go for a snowmobile ride.

    #christmas-trees.cd-fixed-bg.cd-bg-tree
      .cd-intro.dark-overlay
        %h1 Experience The Joy
        %p ...of cutting a Christmas tree from your own woods.

    #holiday.cd-fixed-bg.cd-bg-holiday
      .cd-intro.dark-overlay
        %h1 1This Holiday,
        %p Make this your home for every season!

    #area-information.cd-fixed-bg.cd-bg-content
      .cd-content.container-fluid
        .main
          %h1 Area Information
          .col-xs-12.cd-sm-6
            %h2 Camping, Hiking, Fishing and Hunting
            .col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2
              %p If you love the outdoors you'll be right at home.  With these gems right in your backyard!
              %li 
                %a{href:"http://dnr.wi.gov/topic/fishing/trout/viewer/iowa.html"} Otter Creek World Class Fly Fishing 
              %li
                %a{href:"http://www.blackhawklake.com/Home.html"} Camping, Hiking, Fishing and Hunting at Black Hawk Lake Recreation Area
          .col-xs-12.cd-sm-6
            %h2 Artist Community
            .col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2
              %p The property is conveniently located in a prospering Artist community with Mineral Point and Spring Green just minutes away.
              %li 
                %a{href:"http://ottercreekarts.com/"} Otter Creek Arts
              %li 
                %a{href:"http://mineralpoint.com/"} Mineral Point - History and Art combine at this popular tourist destination
              %li 
                %a{href:"http://www.springgreen.com/"} Spring Green - Set on the Wisconsin river it's well known for performing and visual arts 
              %li 
                %a{href:"http://folklorevillage.com/"} Folk Lore Village - Carrying on the traditions of the past in a beautiful prarie setting.
    %img{style:"opacity: 0;position: absolute;top:0; left:0; width:25%; height:25%", src:"images/house01.jpg"}

    %script{type:"text/javascript", src:"//assets.pinterest.com/js/pinit.js"}
    %script{src:"js/main.js"}
